<!DOCTYPE html>
<html>
<head>
    <title>Shipping Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>Welcome to Shipping by Nikki and Ryan</h1>
<form action="/shipping-info">
    <label for="length">Input the length of the parcel</label>
    <input id="length" name="length" type="number" required>
    <br>
    <label for="width">Input the width of the parcel</label>
    <input id="width" name="width" type="number" required>
    <br>
    <label for="height">Input the height of the parcel</label>
    <input id="height" name="height" type="number" required>
    <br>
    <label for="weight">Input the weight of the parcel</label>
    <input id="weight" name="weight" type="number" required>
    <br>
    <button type="submit">Calculate Your Cost!</button>
</form>
</body>
</html>